# Leyendo valores por teclado
Se consigue utilizando la instrucción input() que lee y devuelve una cadena:

In [1]:
valor = input()
len (valor)

 Esto es una prueba

18

In [2]:
valor

'Esto es una prueba'

In [3]:
valor = input()

 150

In [4]:
# Aunque leemos un número, en realidad es una cadena de texto
valor

'150'

In [5]:
# Podemos mostrar un mensaje antes de leer el valor
valor = input("Introduce un valor:  ")

Introduce un valor:   234

In [7]:
type(valor)

str

In [6]:
# Una cadena y un número no se pueden operar
valor + 100

TypeError: can only concatenate str (not "int") to str

In [8]:
valor = input("Introduce un número entero: ")

Introduce un número entero:  450

## Cast con int(), de cadena a entero

In [9]:
# La función int() de entero, devuelve un número entero a partir de una cadena
valor = int(valor)

In [10]:
type(valor)

int

In [11]:
valor + 1000  # Ahora ya es operable

1450

In [16]:
valor = int(input("Introduce un número entero: "))+1000

Introduce un número entero:  500

In [18]:
valor

1500

## Cast con float(), de cadena a flotante

In [19]:
# La función float() de flotante, devuelve un número flotante a partir de una cadena
valor = float(valor)

In [20]:
10 + valor

1510.0

In [16]:
valor

10.5

In [23]:
valor = float( input("Introduce un número decimal o entero: ") )

Introduce un número decimal o entero:  asdasd

ValueError: could not convert string to float: 'asdasd'

In [22]:
valor

3.14159